@{
    ViewBag.Title = "STEP IT Academy";
}

<div class="hero-section">
    <div class="container">
        <h1>STEP IT Academy</h1>
        <p>Missiyamız: tələbələrimizin gələcək uğurlarının əsasını qoymaq üçün keyfiyyətli və bazarda tələb olunan təhsil</p>
    </div>
</div>

<div class="courses-section">
    <div class="container">
        <h2>Böyüklər üçün təhsil</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="course-card">
                    <img src="~/Images/design-course.png" alt="Dizayn" class="img-fluid">
                    <h3>Dizayn</h3>
                    <p>1 kurs</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="course-card">
                    <img src="~/Images/programming-course.png" alt="Proqramlaşdırma" class="img-fluid">
                    <h3>Proqramlaşdırma</h3>
                    <p>2 kurs</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="course-card">
                    <img src="~/Images/cybersecurity-course.png" alt="Kibertəhlükəsizlik" class="img-fluid">
                    <h3>Kibertəhlükəsizlik</h3>
                    <p>1 kurs</p>
                </div>
            </div>
        </div>
    </div>
</div>
